<div class="divider">&nbsp; </div>
<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Welcome to PCPROTEGO </a></h2>
				<div class="entry">
					<p>This is web site of <strong>PcProtego</strong>. We provide professional <strong>onsite</strong> computer repair services. A wide range of services offered by <strong> PcProtego </strong> can be divided into three different categories: <%= link_to "Computer Repair", computer_repair_path %>, <%= link_to "Data",    data_path %>, and <%= link_to "Network" , network_path %>. We will serve customers in <strong> Helsinki</strong>, <strong> Espoo </strong>, and <strong> Vantaa </strong>. Besides, <%= link_to "PcProtego's support plans " , support_plan_path %> give you off the shelf support for your PC. Our support plans offer you not only a peace of mind when things go wrong, but also a chance to <strong> "make a single payment for fixing your computer's problems"</strong>. We offer:</p>
					 <strong>No charge if No fix -</strong> means that if we are unable to fix your problem, we will not charge you.<br>
					 <br><strong>Fixed Rate -</strong> means that no matter how long it takes for us to fix your problem, you pay a fixed bill.<br>
					<br><strong>Work Guaranteed -</strong> Our computer repair work is guaranteed for 30 days, in a few cases if the problem reoccurs within 30 days, we fix it free of cost.<br>
					<br><strong> Pay when it needs -</strong> means that you <strong> "Do Not Need"</strong> to pay for every computer every year. You make a <strong> Single </strong> payment for your computer's problems.
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<div>
				<h2>Useful Links</h2>
				<ul class="list-style1">
					<li class="first"><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
					<li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
					<li><a href="#">Cras vitae metus aliquam risus pellentesque pharetra.</a></li>
					<li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
					<li><a href="#">Maecenas vitae orci vitae tellus feugiat eleifend.</a></li>
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<! <div class="divider">&nbsp; <! </div>

	

       
