<footer>
</div>
<div id="footer-content" class="container">
	<div id="footer-bg">
		<div id="column1">
			<h2>Who we are ?</h2>
			<p>PC Protego is an onsite, and support company which provide technical support services. We attempts to provide a <strong> quick, friendly </strong> service, and making an opportunity for small businesses to be able to outsource their IT-needs.Besides, our support plans offer to customers not only a peace of mind when things go wrong but also a chance not to<strong> pay for every computer every year</strong>.<br />
			</p>
		</div>
		<div id="column2">
			<h2>Why choose us ?</h2>
			<p><strong>No Charge If No Fix -</strong> means that if we are unable to fix your problem, we will not charge you.
					 <br><strong>Fixed Rate -</strong> means that no matter how long it takes the task to be performed, you pay a fixed bill.
					
					<br><strong> Pay When It Needs -</strong> means that you <strong> do not need </strong> to pay for every computer every year. You make a <strong> single </strong> payment for your computer's problems.
					<br><strong>Work Guaranteed -</strong> Our computer repair work is guaranteed for 30 days, in a few cases if the problem reoccurs within 30 days, we fix it free of cost. <strong>  This guarantee is not applicable for virus, trojan , and spyware removal service.</strong> <br>
			</p>
		</div>
		<div id="column3">
			<h2>Contact Us </h2>
			<p><strong>We want to hear from you.</strong> Please contact us if you have any questions regarding to our services. We can be reached at <br> pcprotego(at)yahoo.com
			</p>
		</div>
		
	</div>
</div>
<div id="footer">
	<p>© 2012 Untitled Inc. All rights reserved. Lorem ipsum dolor sit amet nullam blandit consequat phasellus etiam lorem. Design by <a href="http://www.freecsstemplates.org">FCT</a>.  Photos by <a href="http://fotogrph.com/">Fotogrph</a>.<br> Converted by PcProtego- A computer repair service company</p>
</div>
</footer>
